[submodule "AvionicsCloud.UI"]
	path = AvionicsCloud.UI
	url = https://github.com/xiaolait/AvionicsCloud.UI.git
[submodule "EndDeviceService"]
	path = EndDeviceService
	url = https://github.com/lrxgyt/EndDevice.git
[submodule "EndDevice"]
	path = EndDevice
	url = https://github.com/Lirx93/EndDevice.git
